[toolchain]
package_manager = "bun"

[features]
resolution = true
skip-lint = false

[programs.localnet]
spl_token_vault_program = "CX7oWiXadkmto4iwK2kKuDErG4UJVw6EbDHhuQ9EEfSz"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
create-test-mint = "bun run migrations/create-test-mint.ts"
deploy-and-initialize = "bun run migrations/deploy-and-initialize.ts"
test = "bunx ts-mocha -p ./tsconfig.json -t 1000000 \"tests/${TEST_PATTERN:-**/*.ts}\""

[hooks]
