[toolchain]
package_manager = "bun"

[features]
resolution = true
skip-lint = false

[programs.localnet]
sol_vault_program = "9UmM8nNR6Lxa8NFyTbG2gVfohQVwq5cNQoChVora19gf"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
deploy-and-initialize = "bun run migrations/deploy-and-initialize.ts"
test = "bunx ts-mocha -p ./tsconfig.json -t 1000000 \"tests/${TEST_PATTERN:-**/*.ts}\""

[hooks]
